<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viperssc">

    <application
        android:name=".Vipers"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminActivity"></activity>
        <activity android:name=".MembershipActivity" />
        <activity android:name=".TicketsActivity" />
        <activity android:name=".RetailActivity" />
        <activity android:name=".AlertsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".Home.FansLoginActivity" />
        <activity android:name=".Home.MenuListActivity" android:parentActivityName=".Home.EventsAndChatsActivity" />
        <activity android:name=".Admin.NewsFeedActivity" />
        <activity android:name=".Admin.VideosUploadActivity" />
        <activity android:name=".Home.EventsAndChatsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>